<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<style>
table, th, td {
   border: 2px solid blue;
}

table {
   border-spacing: 5px;
}

td {
   padding: 5px;
   text-align: center;
   color: black;
   font-family: verdana;
}

tr:nth-child(even) {
   background-color: #dddddd;
}
</style>
</head>

<body>
    <h2>Quem é quem? </h2>
    <table style="width:100%">
    <caption>Família Takata</caption>
    <tr>
       <th>Quem</th>
       <th>Nome</th>
       <th>Idade</th>
    </tr>
    <tr>
       <td>Di</td>
       <td>Jorge</td>
       <td>65</td>
    </tr>
    <tr>
       <td>Ba</td>
       <td>Eunice</td>
       <td>60</td>
    </tr>
    <tr>
       <td>Pai1</td>
       <td>Leo</td>
       <td>36</td>
    </tr>
    <tr>
       <td>Mãe1</td>
       <td>Thiana</td>
       <td>36</td>
    </tr>
    <tr>
       <td>Neto1</td>
       <td>Theo</td>
       <td>4</td>
    </tr>
    <tr>
       <td>Pai2</td>
       <td>Fabrício</td>
       <td>37</td>
    </tr>
    <tr>
       <td>Mãe2</td>
       <td>Lia</td>
       <td>35</td>
    </tr>
    <tr>
       <td>Neto2</td>
       <td>Kaori</td>
       <td>1</td>
    </tr>
</body>
</html>
